.timer {
    background: #f2f3f4;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 106px;
    text-shadow: -1px 0 1px #fff;
}
.bg{
	background-color:rgba(0,152,50,0);
}
.transparent1{
	opacity:0.6;
}